@import './main.scss';

section.checkout-step,
section.order-summary {
    @include compent-border;
}

form.shipping-address {
    display: flex;
    flex-direction: column;
    
    .address-list-container {
        display: flex;
        flex-direction: column;
        
        .address-tile {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;

            .select-address {
                padding-top: 1rem;
            }
            
            .main-address-icon {
                width: 15px;
                height: 15px;
            }
            
            .line-1 {
                display: flex;
                font-weight: bold;
                align-items: center;
            }
            
            .line-2 {
                color: grey;
                grid-area: info;
            }
        }   
    }
}

form.shipping-method {
    display: flex;
    flex-direction: column;

    .shipping-method-list-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .shipping-method-tile {
        display: grid;
        grid-template-areas: "radio name"
        ". info";
        grid-template-columns: 1.2rem auto;
        flex-wrap: wrap;
        width: 48%;
        justify-content: space-between;
        @include compent-border;
        padding: 1rem 1.5rem;

        .name {
            grid-area: name;
        }
        
        .info {
            display: flex;
            grid-area: info;
            justify-content: space-between;
            align-items: center;
        }
        
        .cost {
            font-weight: bold;
        }

        .estimate {
            color: grey;
        }
    }
}

div.buttons {
    margin: 1rem 0 ;
}

.checkout-ctnr,
.cart-ctnr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .main {
        flex-grow: 1;
    }

    .order-summary {
        width: 20rem;
        padding: 1rem;

        .totals-ctnr {
            display: grid;
            grid-template-columns: 1fr 1fr;

            :nth-child(even) {
                text-align: end;
            }
        }
    }
}
