* {
    // outline: blue 1px dashed;
}

.product-quantity {
    background-color: #d2d239e6;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: normal;
    display: inline-block;
    text-align: center;
    font-size: .75rem;
    color: #fff;
}