.product-tile {
    // border: 1px solid black;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15rem;
}

.product-tile__image {
    height: 20rem;
}

.product-tile__image img {
    max-height: 100%;
    max-width: 100%;
}
