extends ../layouts/main

block styles
    link(rel='stylesheet', href='/css/form')

block content 
    h1 My Account

    div Edit my Data
    div 
        h3 Last order
        div Order ##{lastOrder.id} (#{lastOrder.createdAt})
        a(href="/account/orders") See All Orders

    div My Payment methods
    div 
        a(href="/account/addresses") My Addresses