block navigation
    header.main-header
        nav.main-header__nav
            ul.main-header__item-list
                li.main-header__item
                    a(href='/', class=(path === '/' ? 'active' : '')) Regulus
                li.main-header__item
                    a(href='/products', class=(path === '/products' ? 'active' : '')) Products

            .user-area
                .cart-data
                    a(href='/cart', class=(path === '/cart' ? 'active' : '')) Cart
                    if cartProductQty > 0
                        div (#{cartProductQty})
                
                .account-data
                    if isUserLoggedIn
                        div Hi, #[a(href="/account") #{userName}]!
                        form(action="/logout", method="POST")
                            button.btn(type="submit") Logout
                    else
                        a(href='/login', class=(path === '/login' ? 'active' : '')) Login
                        a(href='/signup', class=(path === '/signup' ? 'active' : '')) Signup
