extends ../layouts/main

block jsIncludes
    script(src="https://js.stripe.com/v3/")
    script(src="/js/checkout.js", type="module")
    script(src="/js/forms.js", type="module")

block styles
    link(rel='stylesheet', href='/css/checkout.css')

block content
    h1 Checkout (#{currentStep})

    .container
        .row
            .col-md-4
                include shipping-step
            .col-md-4
                include payment-step
            .col-md-4
                include order-summary