section.border.border-info.rounded-3.p-3
    h3 Payment

    .billing-address-form-ctnr
        form(action="/checkout/set-billing-address" class="billing-address-form" method="POST")
            .mb-3.form-check
                input#use-same-as-shipping-address.use-same-as-shipping-address.form-check-input(type="checkbox", name="use-same-billing-address-as-shipping", checked)
                label.form-check-label(for="use-same-as-shipping-address")
                    | Use same billing address as shipping
            .form-group.billing-form-fields.d-none.container(status="unselected")
                include ./billing-address-form
            button.btn.btn-primary.set-payment-instrument(type="submit") Continue to Payment

    input#stripe-session-id(type="hidden" value=`${stripeSessionId}`)
