h3 Payment


.billing-address-form-ctnr
    form(action="/checkout/set-billing-address" class="billing-address-form" method="POST")
        input(type="checkbox", name="use-same-billing-address-as-shipping", class="use-same-as-shipping-address" checked) 
        div Use same billing address as shipping
        
        .form-group.billing-form-fields(status="unselected")
            input(type="text", class="form-control name",    name="name",   placeholder="Address Name")
            input(type="text", class="form-control street",  name="street", placeholder="Street")
            input(type="text", class="form-control city",    name="city",   placeholder="City")
            input(type="text", class="form-control state",   name="state",  placeholder="State")
            input(type="text", class="form-control zip",     name="zip",    placeholder="Zip")
            input(type="text", class="form-control country", name="country" placeholder="Country")
            input(type="checkbox", class="form-control should-save-address", name="should-save-address")
            div Save address
            input(type="checkbox", class="form-control should-set-as-main", name="is-main")
            div Set as main address
        button.btn.set-payment-instrument(type="submit") Continue to Payment

input#stripe-session-id(type="hidden" value=`${stripeSessionId}`)
