extends ../../layouts/main

block jsIncludes
    script(src="/js/address.js", type="module")

block styles
    link(rel='stylesheet', href='/css/form.css')

block content 
    div #{mode === 'new' ? 'New Address' : 'Edit Address'}
        include ./form
