extends ../../layouts/main

block content
    h1 My Addresses

    each address in addressList
        header.card__header
            if address.isMain
                img(src='/images/icons/star.png', style="width: 15px; height: 15px;" alt='Main Address')
            b 
                div #{address.name}
            div #{address.getFullAddress()}


            a(href=`/account/addresses/${address.id}`) Edit
            form(action=`/account/addresses/delete` method="POSt")
                input(type="hidden", name="address-id", value=address.id)
                button.btn(type="submit") Delete

    a(href="/account/addresses/new") New Address